body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    background-color: #f1f1f1;
}
.top-block {
    color: #fff;
    background-color: #000;
    width: 100%;
    position: fixed;
    top: 0;
}
.top-block button {
    display: none;
}
.top-block span {
    float: right;
    display: block;
    padding: 8px 16px;
    font-size: 18px;
    line-height: 1.5;
}
.nav {
    margin-top: 50px;
    width: 300px;
    background-color: #fff;
    height: 100vh;
}
.avatar-block {
    display: flex;
    padding: 0 16px;
    gap: 20px;
}
.avatar-block_icons a {
    color: #000;
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block;
}
.avatar-block_icons a:hover {
    background-color: #ccc;
} 
.dashboard a {
    display: block;
}
.main {
    height: 1000px;
    background-color: aqua;
}
@media screen and (max-width: 990px) {
  .top-block button {
    display: block;
    float: left;
    color: #fff;
    background-color: transparent;
    padding: 8px 16px;
    font-size: 18px;
    line-height: 1.5;
    cursor: pointer;
  }
  .hide-sidebar {
    display: none;
  }
}